*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    display: flex;
    flex-direction: column;
   align-items: center;
}

.App{
    width: 800px;
}
.post{
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
.post__btns{
    display: flex;
    margin-right: 10px;
}

.post-enter {
    opacity: 0;
}
.post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.page__wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.page__number{
    padding: 5px 10px;
    border: 2px solid teal;
    cursor: pointer;
}

.page__current{
    color:white;
    background: teal;

}
.navbar{
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    background-color: teal;
}
.navbar-items > a{
    margin-left: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 1px 1px 2px white;
}
a:hover{
   transition: all 0.5s ease;
    transform: scale(1.1);
}